@charset "utf-8";
// ================================
// カラー
// ================================
$color_white: #fafafa;
$color_black: #333;
// ================================
// テキスト選択時の文字色・背景色
// ================================
::selection {
    background: $color_black;
    color: $color_white;
}
//Firefox
::-moz-selection {
    background: $color_black;
    color: $color_white;
}
// ================================
// リセット
// ================================
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
// ================================
// ベース
// ================================
body {
    color: $color_black;
    background: $color_white;
    font-family: "Noto Sans JP", sans-serif;
    padding: 20px 10px;
    display: flex;
    align-items: flex-start;
    a {
        color: $color_black;
        text-decoration: none;
        transition: 0.3s;
        &:link,
        &:hover,
        &:active,
        &:focus {
            color: $color_black;
        }
        &:hover {
            opacity: 0.6;
        }
    }
}
.generator {
    width: 400px;
    padding: 20px;
    margin-right: 10px;
    border: solid 1px rgba($color_black, 0.4);
    border-radius: 5px;
    .generator_area {
        width: 100%;
        margin-bottom: 40px;
        .item {
            margin-bottom: 15px;
            .code_txt {
                font-size: 14px;
                font-weight: bold;
                span {
                    padding-left: 0.3em;
                }
            }
        }
    }
    .code_area {
        font-size: 15px;
        width: 100%;
        font-weight: bold;
        padding: 15px 20px 20px;
        background: rgba($color_black, 0.1);
        border-radius: 5px;
        .title {
            font-size: 14px;
            text-align: center;
            color: rgba($color_black, 0.6);
            margin-bottom: 0.5em;
        }
    }
}
.result {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 80px;
    h1 {
        font-size: 24px;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    #result_area {
        height: auto;
        border: solid 1px rgba($color_black, 0.4);
        padding: 20px;
        border-radius: 5px;
        //================
        width: 500px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        font-feature-settings: initial;
        font-style: normal;
        text-decoration: none;
    }
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background-color: rgba($color_black, 0.4);
    cursor: pointer;
    &:focus,
    &:active {
        outline: none;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        display: block;
        width: 12px;
        height: 14px;
        border: none;
        background-color: $color_black;
        border-radius: 100%;
        cursor: pointer;
    }
}
input[type="radio"] {
    display: none;
    & + label {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        color: $color_black;
        padding: 0.1em 0.8em 0.3em;
        margin-top: 0.7em;
        border-radius: 10em;
        border: solid 1px $color_black;
        cursor: pointer;
    }
    &:checked {
        & + label {
            border: solid 1px $color_black;
            color: $color_white;
            background: $color_black;
        }
    }
}
